RewriteEngine on
RewriteRule ^tag/([0-9]+).html$ /e/tags/index.php?tagid=$1
RewriteRule ^tag/([0-9]+)-([0-9]+).html$ /e/tags/index.php?tagid=$1&page=$2
RewriteRule ^rss/([0-9]+).xml$ /e/web/?classid=$1
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^star/([0-9]+)-([0-9]+)-(.*)-([0-9]+).html$ /e/action/star.php?classid=12&tempid=14&diqu=$1&xingbie=$2&infozm=$3&page=$4 [QSA,PT,L]

RewriteRule ^star/$ /e/action/star.php?classid=12&tempid=14&diqu=$1&xingbie=$2&infozm=$3&page=$4
RewriteRule ^star/index.html$ /e/action/star.php?classid=12&tempid=14&diqu=$1&xingbie=$2&infozm=$3&page=$4