<?xml version="1.0" encoding="UTF-8"?>
       <configuration>
          <system.webServer>
             <rewrite>
                <rules>
                  <rule name="301Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny">
<add input="{HTTP_HOST}" pattern="^meimvtu$" />
                    </conditions>
                    <action type="Redirect" url="localhost" redirectType="Permanent" />
                </rule>
            </rules>
         </rewrite>
       </system.webServer>
  </configuration>